.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-icon-1 {
  width: 119px;
  height: 119px;
  margin: 85px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  font-family: Neucha;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 15px auto 0;
}

.u-section-1 .u-image-2 {
  width: 494px;
  height: 193px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 613px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 182px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 104px;
  height: 97px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 182px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 108px;
  height: 100px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 182px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  width: 98px;
  height: 91px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: -25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2329px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 2205px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2097px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-icon-1 {
    width: 177px;
    height: 177px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 133px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 218px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }
}
/* 
.u-layout-row {
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
} */
